{"logseq-plugin-bullet-threading" "v1.1.0",
 "logseq-fenced-code-plus" "0.0.3",
 "logseq-power-plugin" "v1.0.0",
 "logseq-plugin-heatmap" "v2.3.0",
 "logseq-tablerender-plugin" "v1.7",
 "logseq-plugin-gpt3-openai" "v1.0.1",
 "Luma" "0.2.9",
 "logseq-osmmaps-plugin" "1.5",
 "logseq-swapblocks-plugin" "v1.2",
 "LogTools" "0.0.5"}
