{;; My config
 ;; =========
 ;; Full shortcuts list at https://github.com/logseq/logseq/blob/master/src/main/frontend/modules/shortcut/config.cljs
 :shortcuts
 {:ui/toggle-theme "t z"
  :ui/toggle-brackets "t b"
  :editor/collapse-block-children ["mod+up" "mod+p"]
  :editor/expand-block-children ["mod+down" "mod+n"]
  ;; couldn't do mod+shift+p so settled for close letter
  :editor/move-block-up ["mod+shift+up" "mod+shift+m"]
  :editor/move-block-down ["mod+shift+down" "mod+shift+n"]
  ;; TODO: Find better pair for forward and back
  ; :editor/forward-word ["mod+shift+f"]
  ; :editor/backward-word ["mod+shift+b"]
  :editor/open-file-in-default-app "ctrl+shift+a"
  :editor/copy-current-file "ctrl+shift+y"
  ;; alt+shift adds ˝ in insert mode
  :graph/open ["alt+shift+g" "mod+shift+o"]
  }

 ;; Macros replace texts and will make you more productive.
 :macros
 {"mark" "[:mark \"$1\"]"
  "rose" "Rose is $1, violet's $2. Life's ordered: Org assists you."}

 :preferred-workflow :todo

 ;; Add your own commands to speedup.
 ;; E.g. [["js" "Javascript"]]
 :commands
 []

 :outliner/block-title-collapse-enabled? true

 :query/views
 {:pprint
  (fn [r] [:pre.code (pprint r)])}

 ;; TODO: Add actual useful transforms
 ;; Pre-defined :result-transform function to use in Query
 :query/result-transforms
 {:sort-by-priority
  (fn [result] (sort-by (fn [h] (get h :block/priority "Z")) result))}

 :quick-capture-templates
 {:text "{text}{url}"
  :media "[[quick capture]] **{time}**: {url}"}
 }
